
doctype 5
html
  head
    title #{staticData.name} | PETS
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
  body
    div(class='container')
      div(class='col-md-4')
        h1= staticData.name
        p(class='text-muted')= staticData.title
        img(src='http://ddragon.leagueoflegends.com/cdn/img/champion/loading/#{staticData.key}_0.jpg')
      div(class='col-md-8 jumbotron', style='margin-top: 20px;')
        h4 Sentient Friendliness Score:
        p(style='font-size:88px; font-weight: bold;') 80
          span(class='text-success', style='margin-left: 20px; font-size: 32px;')
        
        p(class='row text-danger') 
          span(class='col-md-10') Lane Sentients killed per match: &nbsp;
          span(class='col-md-2', style='font-size: 24px;')= champData.get('minionsKilled').toFixed(1)
        
        p(class='row text-danger') 
          span(class='col-md-10') Camp Sentients killed per match: &nbsp;
          span(class='col-md-2', style='font-size: 24px;')= champData.get('neutralMinionsKilled').toFixed(1)
        
        p(class='row text-danger') 
          span(class='col-md-10') Dragons killed per match: &nbsp;
          span(class='col-md-2', style='font-size: 24px;')= champData.get('dragonKills').toFixed(1)
        
        p(class='row text-danger') 
          span(class='col-md-10') Barons killed per match: &nbsp;
          span(class='col-md-2', style='font-size: 24px;')= champData.get('baronKills').toFixed(1)
      
        p(class='row text-success')
          span(class='col-md-10') Inhibitors destroyed per match: &nbsp;
          span(class='col-md-2', style='font-size: 24px;')= champData.get('inhibitorKills').toFixed(1)

        p(class='row text-success')
          span(class='col-md-10') Total units healed: &nbsp;
          span(class='col-md-2', style='font-size: 24px;')= champData.get('totalUnitsHealed').toFixed(1)
        
        if scoreComments.passive.comment
          p Passive:
            p(style='margin-left: 40px;')
              div(class='row')  
                img(class='col-md-2 col-md-offset-1', src='http://ddragon.leagueoflegends.com/cdn/5.7.2/img/passive/#{scoreComments.passive.id}')
                span(class='col-md-7', style='font-size: 16px;')= scoreComments.passive.comment
                span(class='col-md-2', style='font-size: 24px;')= scoreComments.passive.score


        p Spells:
        each values, spellName in scoreComments.spells
          if values.comment
            p(style='margin-left: 40px;')
              div(class='row')  
                img(class='col-md-2 col-md-offset-1', src='http://ddragon.leagueoflegends.com/cdn/5.7.2/img/spell/#{spellName}.png')
                span(class='col-md-7', style='font-size: 16px;')= values.comment
                span(class='col-md-2', style='font-size: 24px;')= values.score

        if scoreComments.other.comment
          p Other:
            p(style='margin-left: 40px;')
              div(class='row')  
                span(class='col-md-9 col-md-offset-1', style='font-size: 16px;')= scoreComments.other.comment
                span(class='col-md-2', style='font-size: 24px;')= scoreComments.other.score
