
doctype 5
html
  head
    title #{staticData.name} | SETM
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
  body
    div(class='container')
      div(class='col-md-4')
        h1= staticData.name
        p(class='text-muted')= staticData.title
        img(src='http://ddragon.leagueoflegends.com/cdn/img/champion/loading/#{staticData.key}_0.jpg')
      div(class='col-md-8 jumbotron', style='margin-top: 20px;')
        h4 Neutral Friendliness Score:
        p(style='font-size:88px;') 80
          span(class='text-success', style='margin-left: 20px; font-size: 32px;') Neutral hug!
        
        p Lane Sentients killed per match: &nbsp;
          span 
            strong= champData.get('minionsKilled').toFixed(1)
        
        p Camp Sentients killed per match: &nbsp;
          span
            strong= champData.get('neutralMinionsKilled').toFixed(1)
        
        p Dragons killed per match: &nbsp;
          span
            strong= champData.get('dragonKills').toFixed(1)
        
        p Barons killed per match: &nbsp;
          span
            strong= champData.get('baronKills').toFixed(1)
      
        p Inhibitors destroyed per match: &nbsp;
          span
            strong= champData.get('inhibitorKills').toFixed(1)
        
        p Anti-neutral items bought (on average): &nbsp;
        p(style='margin-left: 40px;') 0.05 x &nbsp;
          img(src='http://ddragon.leagueoflegends.com/cdn/5.7.2/img/item/3512.png')
        
        p Anti-neutral spells used (on average): &nbsp;
        p(style='margin-left: 40px;') 0.10 x &nbsp;
          img(src='http://ddragon.leagueoflegends.com/cdn/5.7.2/img/spell/SummonerSmite.png')
        
        if scoreComments.passive.comment
          p Passive:
            p(style='margin-left: 40px;')
              div(class='row')  
                div(class='col-md-1', style='width: 40px;')
                img(class='col-md-2', src='http://ddragon.leagueoflegends.com/cdn/5.7.2/img/passive/#{scoreComments.passive.id}')
                span(class='col-md-9', style='font-size: 16px;')= scoreComments.passive.comment


        p Spells:
        each values, spellName in scoreComments.spells
          if values.comment
            p(style='margin-left: 40px;')
              div(class='row')  
                div(class='col-md-1', style='width: 40px;')
                img(class='col-md-2', src='http://ddragon.leagueoflegends.com/cdn/5.7.2/img/spell/#{spellName}.png')
                span(class='col-md-9', style='font-size: 16px;')= values.comment

        if scoreComments.other.comment
          p Other:
            p(style='margin-left: 40px;')
              div(class='row')  
                div(class='col-md-1', style='width: 40px;')
                span(class='col-md-9', style='font-size: 16px;')= scoreComments.other.comment
