
doctype 5
html
  head
    title Champions | SETM
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/splash.css')
    script(src='https://code.jquery.com/jquery-1.11.1.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
  body
    div(class='container')
      table(class='table')
        thead
          tr
            th
            th Champ Name
            th Minion Kills per min
        each champ in champions
          tr
            td
              a(href='/champion/#{champ.get("identifier")}')
                img(src='http://ddragon.leagueoflegends.com/cdn/#{version}/img/champion/#{champInfo[champ.get('identifier')]}.png')
            td= champInfo[champ.get('identifier')]
            td= champ.get('minionsKilled') ? champ.get('minionsKilled').toFixed(1) : 0
    
    div= champInfoDebug
