
doctype 5
html
  head
    title PETS
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/splash.css')
    script(src='https://code.jquery.com/jquery-1.11.1.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
  body
    div(class='container-fluid banner')
      h4(style='color: white;') People for the Ethical Treatment of Sentients

    div(style='padding-bottom: 40px; position: relative;', class='container')
      img(src="pets_logo.png", style="float: left;")
      div(style='padding-left:150px; max-width: 900px;')
        h1(class='text-primary lead text-uppercase mission-statement-lg') "Minions" and "Monsters" are 
          strong not 
          | ours
        h2(class='text-muted lead text-uppercase mission-statement-sm') to kill, command, pillage, or abuse in any other way.
      img(src='baron.png', class='baron-header')

    div(class='urf-champs', style='padding-bottom: 60px;')
      div(class='container')
        
        div(class='row')
          div(style='margin-top: 50px;')
            p(class='top-3-header text-center champ-type-title') URF's Noble Champions
            p(class='champ-type-blurb') These champions are the real heroes of Summoner's Rift, 
              | and their URF stats prove it Whether they win or lose, it's obvious that they strive to create an
              | atmosphere of acceptance for our Sentient brothers and sisters. Click on the profiles to see more
              | URF Sentient-friendly stats or...
            p(class='text-center', style='margin-bottom: 30px;')
              a(href='/summary/champions', style='color: white; font-size: 32px;') View all the heroes and their stats
                span(class='glyphicon glyphicon-chevron-right', style='vertical-align: center;') 
              
            each champ, index in leastMinionsKilledChamps
              - var column = 'col-md-4'
              - var style = ''

              div(class='#{column}', style='position:relative; margin-bottom: 50px;')
                a(href='/champion/#{champ.identifier}')
                  img(src='http://ddragon.leagueoflegends.com/cdn/img/champion/loading/#{champ.key}_0.jpg', class='clickable', style='#{style}')
                //- p(class='cs-stat-img-text cs-stat-img-heading', style='top:350px;') Total Sentients killed:
                //- p(class='cs-stat-img-text cs-stat-img-value', style='top:380px;')= champ.totalMinionKills
                p(class='cs-stat-img-text cs-stat-img-heading', style='top:450px;') Sentients killed/game:
                p(class='cs-stat-img-text cs-stat-img-value', style='top:480px;')= champ.minionsKilled ? champ.minionsKilled.toFixed(1) : 0
            
        div(class='row item-region-background items-container', style='margin-bottom: 40px;')
          each item in leastMinionsKilledItems
            div(class='col-xs-4 col-md-4')
              img(src='http://ddragon.leagueoflegends.com/cdn/5.7.2/img/item/#{item.get("identifier")}.png', class="item-img img-responsive")
              div(class="region-txt")
                span(class="region-kills")= item.get('minionsKilled').toFixed(1) 
                p sentients/game
          p(class='text-center', style='margin-bottom: 30px;')
            a(href='/summary/items', style='color: white; font-size: 32px;') View more items to buy
              span(class='glyphicon glyphicon-chevron-right', style='vertical-align: center;') 
        
        div(class='row item-region-background')
          each region in leastRegionKills
            each val, key in region
              div(class='col-xs-4 col-md-4')
                img(src='images/#{key}.png', class='region-img img-responsive')
                div(class="region-txt")
                  span(class="region-kills")= val.toFixed(1) 
                  p sentients/game
          p(class='text-center', style='margin-bottom: 30px;')
            a(href='/summary/regionTiers', style='color: white; font-size: 32px;') View more regions to move to
              span(class='glyphicon glyphicon-chevron-right', style='vertical-align: center;') 

    div(style='background-color: #000; padding-bottom: 60px;')
      div(class='container')  
        div(class='row', style='margin-top: 30px;')
          p(class='top-3-header text-center champ-type-title') URF's Sentient Killers
          p(class='champ-type-blurb') "Champions"? Not a chance. Unlike our aforementioned heroes,   
              | these butchers needlessly slaughter innocent Sentients numbered in the hundreds 
              | every game. Click on the profiles to view more disturbing URF stats or...
            p(class='text-center', style='margin-bottom: 30px;')
              a(href='/summary/champions', style='color: white; font-size: 32px;') View all the villians
                span(class='glyphicon glyphicon-chevron-right', style='vertical-align: center;') 
          each champ in mostMinionsKilledChamps
            div(class='col-md-4', style='position:relative; margin-bottom: 50px;')
              a(href='/champion/#{champ.identifier}')
                img(src='http://ddragon.leagueoflegends.com/cdn/img/champion/loading/#{champ.key}_0.jpg', class='clickable')
              p(class='cs-stat-img-text cs-stat-img-heading', style='top:450px;') Sentients killed/game:
              p(class='cs-stat-img-text cs-stat-img-value', style='top:480px;')= champ.minionsKilled ? champ.minionsKilled.toFixed(1) : 0 
              //- p(class='cs-stat-img-text cs-stat-img-heading', style='top:350px;') Total Sentients killed:
              //- p(class='cs-stat-img-text cs-stat-img-value', style='top:380px;')= champ.totalMinionKills

        div(class='row', class="items-container most-kills-items")
          each item in mostMinionsKilledItems
            div(class='col-xs-4 col-md-4')
              img(src='http://ddragon.leagueoflegends.com/cdn/5.7.2/img/item/#{item.get("identifier")}.png', class="item-img img-responsive")
              div(class="region-txt")
                span(class="region-kills")= item.get('minionsKilled').toFixed(1) 
                p sentients/game
          p(class='text-center', style='margin-bottom: 30px;')
            a(href='/summary/items', style='color: white; font-size: 32px;') View more items to boycott
              span(class='glyphicon glyphicon-chevron-right', style='vertical-align: center;') 
                
        div(class='row', style='background-color: #000;')
          each region in mostRegionKills
            each val, key in region
              div(class='col-xs-4 col-md-4')
                img(src='images/#{key}.png', class='region-img img-responsive')
                div(class="region-txt")
                  span(class="region-kills")= val.toFixed(1) 
                  p sentients/game
          p(class='text-center', style='margin-bottom: 30px;')
            a(href='/summary/regionTiers', style='color: white; font-size: 32px;') View more regions to move out of
              span(class='glyphicon glyphicon-chevron-right', style='vertical-align: center;') 

    div
      div(class='container')
        div(class='row')
          h1 Sentient News Feed
        div(class='row')
          div(id='main-carousel', class='carousel slide center-block', style='height: 500px;')
            ol(class='carousel-indicators')
              li(data-target='#main-carousel', data-slide-to='0', class='active')
              li(data-target='#main-carousel', data-slide-to='1')
            
            div(class='carousel-inner', role='listbox')
              div(class='item active', style='height: 500px; background-color: #000;')
                div(class='img-responsive')
                  p(class='text-center', style='font-size:32px; padding:20px 0px; color: white;') Riot still refuses to implement CSBuster.
                  img(src='csbuster_final.png', class='img-responsive center-block')
                  h4(class='text-center', style='padding-top:10px; color: white;') How many minions must cry out "Riot please!?"
                  div(class='carousel-caption') Join the discussion on twitter at 
                    a(href='https://mobile.twitter.com/search?q=%23sentientlivesmatter?s=tren&p=c') #sentientlivesmatter
              
              div(class='item', style='height:500px;')
                img(class='', src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Alistar_0.jpg', style='width: 100%; max-height: 500px;')
                p(class='fighting')
                  | Fighting
                p(class='for-the')
                  | for the
                p(class='little')
                  | little
                p(class='guys')
                  | guys
                div(class='carousel-caption') 
                  | Check out why every Sentient is talking about 
                  a(href='champion/12') Alistar - the Miniontaur
            
            a(class='left carousel-control', href='#main-carousel', role='button', data-slide='prev')
              span(class='glyphicon glyphicon-chevron-left', aria-hidden='true')
              span(class='sr-only') Previous

            a(class='right carousel-control', href='#main-carousel', role='button', data-slide='next')
              span(class='glyphicon glyphicon-chevron-right', aria-hidden='true')
              span(class='sr-only') Next

    div(class='container-fluid', style='background-color: #222;')
      p(class='text-center', style='color: white;') © 2015 SETM
      
      
    script(type='text/javascript').
      $("#main-carousel").carousel();
            
