
doctype 5
html
  head
    title SETS
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/splash.css')
    script(src='https://code.jquery.com/jquery-1.11.1.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
  body
    div(style='height: 720px;', class='container')
      h1(class='text-center', style='margin-bottom: 30px;') Summoners for the Ethical Treatment of Sentients
      
      div(class='center-block', style='max-width: 700px;')
        h1(class='text-primary lead text-uppercase') "Minions" and "Monsters" are 
          strong not 
          | ours
        h2(class='text-muted lead text-uppercase') to kill, command, pillage, or abuse in any other way.
    
    div(style='background-color: #337ab7; padding-bottom: 60px;')
      div(class='container')
        
        div(class='row')
          div(style='margin-top: 50px;')
            p(class='top-3-header text-center champ-type-title') URF's Noble Champions
            p(class='champ-type-blurb') These champions are the real heroes of Summoner's Rift, 
              | and their URF stats prove it Whether they win or lose, it's obvious that they strive to create an
              | atmosphere of acceptance for our Sentient brothers and sisters. Click on the profiles to see more
              | URF Sentient-friendly stats or...
            p(class='text-center', style='margin-bottom: 30px;')
              a(href='/champion?sort=asc', style='color: white; font-size: 32px;') View more heroes
                span(class='glyphicon glyphicon-chevron-right', style='vertical-align: center;') 
              
            each champ in leastMinionsKilledChamps
              div(class='col-md-4', style='position:relative; margin-bottom: 50px;')
                a(href='/champion/#{champ.identifier}')
                  img(src='http://ddragon.leagueoflegends.com/cdn/img/champion/loading/#{champ.key}_0.jpg', style='cursor:pointer;')
                //- p(class='cs-stat-img-text cs-stat-img-heading', style='top:350px;') Total Sentients killed:
                //- p(class='cs-stat-img-text cs-stat-img-value', style='top:380px;')= champ.totalMinionKills
                p(class='cs-stat-img-text cs-stat-img-heading', style='top:450px;') Sentients killed/game:
                p(class='cs-stat-img-text cs-stat-img-value', style='top:480px;')= champ.minionsKilled ? champ.minionsKilled.toFixed(1) : 0
            
        div(class='row')
          div(class='col-md-6')
            div(class='row')
              each item in leastMinionsKilledItems
                div(class='col-md-2')
                  img(src='http://ddragon.leagueoflegends.com/cdn/5.7.2/img/item/#{item.get("identifier")}.png')
                
          div(class='col-md-6')
            div(class='row')
              div(class='col-md-2')
                img(src='http://ddragon.leagueoflegends.com/cdn/5.7.2/img/item/1001.png')
              div(class='col-md-2')
                img(src='http://ddragon.leagueoflegends.com/cdn/5.7.2/img/item/1001.png')
              div(class='col-md-2')
                img(src='http://ddragon.leagueoflegends.com/cdn/5.7.2/img/item/1001.png')

    div(style='background-color: #a94442; padding-bottom: 60px;')
      div(class='container')  
        div(class='row', style='margin-top: 30px;')
          p(class='top-3-header text-center champ-type-title') URF's Sentient Killers
          p(class='champ-type-blurb') "Champions"? Not a chance. Unlike our aforementioned heroes,   
              | these butchers needlessly slaughters innocent Sentients numbered in the hundreds 
              | every game. Click on the profiles to view more disturbing URF stats or...
            p(class='text-center', style='margin-bottom: 30px;')
              a(href='/champion?sort=asc', style='color: white; font-size: 32px;') View more villians
                span(class='glyphicon glyphicon-chevron-right', style='vertical-align: center;') 
          each champ in mostMinionsKilledChamps
            div(class='col-md-4', style='position:relative; margin-bottom: 50px;')
              a(href='/champion/#{champ.identifier}')
                img(src='http://ddragon.leagueoflegends.com/cdn/img/champion/loading/#{champ.key}_0.jpg', style='cursor:pointer;')
              p(class='cs-stat-img-text cs-stat-img-heading', style='top:450px;') Sentients killed/game:
              p(class='cs-stat-img-text cs-stat-img-value', style='top:480px;')= champ.minionsKilled ? champ.minionsKilled.toFixed(1) : 0 
              //- p(class='cs-stat-img-text cs-stat-img-heading', style='top:350px;') Total Sentients killed:
              //- p(class='cs-stat-img-text cs-stat-img-value', style='top:380px;')= champ.totalMinionKills

        div(class='row')
          div(class='col-md-6')
            div(class='row')
              each item in mostMinionsKilledItems
                div(class='col-md-2')
                  img(src='http://ddragon.leagueoflegends.com/cdn/5.7.2/img/item/#{item.get("identifier")}.png')
                
          div(class='col-md-6')
            div(class='row')
              div(class='col-md-2')
                img(src='http://ddragon.leagueoflegends.com/cdn/5.7.2/img/item/1001.png')
              div(class='col-md-2')
                img(src='http://ddragon.leagueoflegends.com/cdn/5.7.2/img/item/1001.png')
              div(class='col-md-2')
                img(src='http://ddragon.leagueoflegends.com/cdn/5.7.2/img/item/1001.png')

    div
      div(class='container-fluid')
        div(class='row')
          div(id='main-carousel', class='carousel slide center-block')
            ol(class='carousel-indicators')
              li(data-target='#main-carousel', data-slide-to='0', class='active')
              li(data-target='#main-carousel', data-slide-to='1')
            
            div(class='carousel-inner', role='listbox')
              div(class='item active')
                img(class='img-responsive', src='urf_background.jpg', style='width: 100%;')
                p(style='position: absolute; top: 80px; left: 120px; color: white; font-size: 70px;')
                  | It's about
                p(style='position: absolute; top: 160px; left: 140px; color: white; font-size: 120px;')
                  | URF'in
                p(style='position: absolute; top: 300px; left: 180px; color: white; font-size: 70px;')
                  | time...
                div(class='carousel-caption') 
                  | How do URF games help Sentients? 
                  a Educate yourself.
              
              div(class='item')
                img(class='img-responsive', src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Alistar_0.jpg', style='width: 100%;')
                p(style='position: absolute; top: 30px; left: 90px; color: white; font-size: 50px;')
                  | Fighting
                p(style='position: absolute; top: 105px; left: 90px; color: white; font-size: 30px;')
                  | for the
                p(style='position: absolute; top: 145px; left: 90px; color: white; font-size: 80px;')
                  | little
                p(style='position: absolute; top: 210px; left: 90px; color: white; font-size: 80px;')
                  | guys
                div(class='carousel-caption') 
                  | Check out why every Sentient is talking about 
                  a(href='champion/12') Alistar - the Miniontaur
            
            a(class='left carousel-control', href='#main-carousel', role='button', data-slide='prev')
              span(class='glyphicon glyphicon-chevron-left', aria-hidden='true')
              span(class='sr-only') Previous

            a(class='right carousel-control', href='#main-carousel', role='button', data-slide='next')
              span(class='glyphicon glyphicon-chevron-right', aria-hidden='true')
              span(class='sr-only') Next

    div(class='container-fluid', style='background-color: #222;')
      p(class='text-center', style='color: white;') © 2015 SETM
      
      
    script(type='text/javascript').
      $("#main-carousel").carousel();
            
